.confirm {
    padding: 0 20px;
    color: #6A6A6A;
}

.confirm_info {
    margin-bottom: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 4px 4px 10px 4px #f0f0f0;

    .confirm_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0 20px 0;
        border-bottom: 1px solid #f0f0f0;

        .shop_name {
            color: #6A6A6A;
            font-weight: bold;
        }

        .shop_icon {
            color: #fff;
            background: #6190E8;

            border-radius: 10px;
            padding: 7px;
            box-sizing: border-box;
            font-size: 20px;

        }
    }

    .confirm_date_wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;

        .confirm_date_label {}

        .confirm_date {

            .right_arrow {
                width: 60px;
                height: 60px;
                font-size: 0;

                image {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}


.foods {
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5rpx 5rpx 10rpx 5rpx #f0f0f0;
}

.item_wrapper {
    display: flex;
    justify-content: space-between;
    // padding: 0 10px;
    margin-bottom: 20px;

    .item_info {
        display: flex;
        align-items: center;

        .food_item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 10px;
            height: 100%;

            .food_name {
                font-size: 30px;
            }

            .food_desc {
                font-size: 26px;
                color: lightgray;
            }
        }
    }

    .item_price {
        display: flex;
        align-items: center;

        .item_count {
            margin-right: 10px;
        }
    }
}

.select_modal {
    display: flex;
    justify-content: space-between;

    .select_date {
        background: #F7F7F7;
        flex: 1;

        .select_wrapper {
            height: 600rpx;

            .date_item {
                color: grey;
                padding: 20px;
                text-align: center;
            }

            .date_item.active {
                color: #6190E8;
                font-weight: bold;
                background: #fff;
            }
        }
    }

    .select_time {
        background: #fff;
        flex: 3;

        .select_wrapper {
            height: 600rpx;

            .time_item {
                color: grey;
                text-align: center;
                padding: 20px;
                border-bottom: 1px solid #f0f0f0;

            }

            .date_item.active {
                color: #6190E8;
                font-weight: bold;
            }
        }
    }
}

.layout-body {
    padding: 0 !important;
}