.index {
    padding-top: 50px;

    .user_info_container {
        .user_info_item {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 0;
        }
    }

    [open-type="getUserInfo"] {
        background: #04BE02;
        color: #fff;
        width: 90%;
        border: none;
        outline: none;
        margin-bottom: 50px;
    }

    [open-type="getUserInfo"]::after {
        border: none;
    }

    .at-activity-indicator {
        z-index: 10 !important;
    }
}