.note {
    padding: 20px 20px 30px;

    .at-textarea {
        border-radius: 20px;
        border: none;
        box-shadow: 4px 4px 10px 4px #f0f0f0;
    }

    .btn_wrapper {
        margin-top: 30px;
        padding: 0 20px;
    }

    .recentNotes_wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;

        .recentNotes_item {
            padding: 5px 25px;
            border-radius: 10px;
            margin: 10px;
            border: 1px solid #3e4145;
            color: #464547;
            font-size: 28px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

        }
    }
}